<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorsMapper">
    <insert id="insert" parameterType="list">
        insert into dish_flavor  (dish_id, name, value) values
        <foreach collection="flavors" item="f" separator=",">
            (#{f.dishId}, #{f.name}, #{f.value})
        </foreach>
    </insert>
    <delete id="delete" parameterType="list">
        delete from setmeal_dish where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>