<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <select id="pageQuery" parameterType="com.sky.dto.DishPageQueryDTO" resultType="dish">
        select * from dish
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description)
            VALUES
        (#{name}, #{categoryId}, #{price}, #{image}, #{description})
    </insert>

    <delete id="delete" parameterType="list">
        delete from dish where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="dish">
        update dish set description = #{description}, category_id = #{categoryId}, image = #{image}, name = #{name}, price = #{price} where id = #{id}
    </update>
</mapper>